<div ng-controller="CampaniiCtrl"  class="card radius shadowDepth1" ng-repeat="campanie in campanii">
				<div class="card__content card__padding">
      				<article class="card__article">
  	    				<h2><span class="elementeProfil">{{campanie.campaign_name}} </span></h2>
  	    				<p>{{campanie.descriere}}</p>
  	    			</article>
      				<div class="card__meta">
      					<span class="elementeProfil">Date:</span>
                          <time>{{campanie.data}}</time>
      				</div>
      			</div>


      			<div class="card__image border-tlr-radius">
        				<a ng-click="clickOnCampaign(campanie)"><img src={{campanie.poza}} alt="image" class="border-tlr-radius pozeCampanie" ></img><br><h3><span class="elementeProfil"></span></h3></a>
                </div>
</div>
