<button id="buton_campanie" onclick = "$('.campanie').fadeToggle();">Product Campaign</button>
<div class="campanie">
	<a id="buton_vezi_mai_mult" href="#/tab/createCampaign" ng-click="clickOnCreateCampaign()">Creare Campanie</a>
	<ion-scroll direction="x" class="wide-as-needed"  ng-show="campanii.length > 0" >
		<a class="buttonCampaign" ng-repeat="campanie in campanii"   ng-click="clickOnCampaign(campanie)"><img src={{campanie.imagine}} id="campaignPhoto"></img><br><h3><span class="elementeProfil"><textarea rows="4" cols="50"> {{campanie.campaign_name}} {{campanie.campaign_name}} {{campanie.campaign_name}} {{campanie.campaign_name}} {{campanie.campaign_name}} {{campanie.campaign_name}} {{campanie.campaign_name}} {{campanie.campaign_name}}  {{campanie.campaign_name}} {{campanie.campaign_name}} {{campanie.campaign_name}} {{campanie.campaign_name}} {{campanie.campaign_name}} </textarea></span></h3></a>
	</ion-scroll>
</div>