<div class="carddemoInCardActions" ng-controller="CampaignCtrl">
    <div class="wrapper">
		<div class="card__content card__padding">
		<div class="card radius shadowDepth1">
		
		<img style="height: auto; width: auto; max-width: 400px; max-height: 400px;" src={{campaign_image}} alt="Poza Companie"></img>
		<div class="card__content card__padding">
      		<article class="card__article">
  	    		<h3><span class="elementeProfil">Descriere</span></h3>
	            <p style="text-indent: 20px;">{{campaign_description}} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum...</p>
				<span class="elementeProfil">Au aderat: </span>{{campaign_nrUsers}} membri
  	    	</article>
			<div class="card__meta">
      			<span class="elementeProfil">Data crearii:</span>
                <time>{{creation_date}}</time>
      		</div>
			<div class="item item-bodyCampagin">
		        <button id="buton_vezi_mai_mult" ng-click="joinCampaign()">Adera la campanie!</button><br><br>
				<textarea id="title" rows="1" col="50" placeholder="Titlu" ng-model="titlu"></textarea>
	<textarea id="comment"  rows="4" col="50" placeholder="Comentariu" ng-model="iol"></textarea><br>
	<button id="post_commentCampaign" ng-click="postareComentariu()"> Post </button>
	<div id="comentariuNou"> </div>
	<div class="opinie_utilizator" ng-repeat="comentariu in comentarii">
		<hr>
		<h5>
			#{{comentariu.titlu}}
		</h5>
		<article>
			{{comentariu.content}}
		</article>
		<br>
		<p class="typo name-date"><span>{{comentariu.data}}</span>|<span>{{comentariu.prenume}} {{comentariu.nume}}</span></p>
		<div class="acidjs-rating-stars acidjs-rating-disabled">
			<form>
				<input disabled="disabled" ng-checked="{{comentariu.valoare5}}" type="radio" name="group-3" id="group-3-00" value="5"/><label for="group-3-00"></label>
				<input disabled="disabled" ng-checked="{{comentariu.valoare4}}"  type="radio" name="group-3" id="group-3-01" value="4"/><label for="group-3-01"></label>
				<input disabled="disabled" ng-checked="{{comentariu.valoare3}}"  type="radio" name="group-3" id="group-3-02" value="3"/><label for="group-3-02"></label>
				<input disabled="disabled" ng-checked="{{comentariu.valoare2}}"  type="radio" name="group-3" id="group-3-03" value="2"/><label for="group-3-03"></label>
				<input disabled="disabled" ng-checked="{{comentariu.valoare1}}"   type="radio" name="group-3" id="group-3-04" value="1"/><label for="group-3-04"></label>
			</form>
		</div>

		<hr>
	</div>
		    </div>
			
      	</div>
		</div>
		</div>
	</div>
	
</div>