<div ng-controller="ProductCtrl">
	 <div style="">
            <header id="first">
                <img src="{{mesaj.image}}" alt="Poza">
                <p id="numeProdus" style="padding-top: 55px">
                   {{mesaj.name}}
                </p>

                <p id="pretProdus">
                    {{mesaj.price}}
                </p>

                <div class="acidjs-rating-stars acidjs-rating-disabled">
                    <form>
                        <input disabled="disabled" type="radio"  name="group-3" id="group-3-0" value="5" /><label for="group-3-0"></label>
                        <input disabled="disabled" type="radio" checked="checked" name="group-3" id="group-3-1" value="4" /><label for="group-3-1"></label>
                        <input disabled="disabled" type="radio"  name="group-3" id="group-3-2" value="3" /><label for="group-3-2"></label>
                        <input disabled="disabled" type="radio"  name="group-3" id="group-3-3" value="2" /><label for="group-3-3"></label>
                        <input disabled="disabled" type="radio" checked="false" name="group-3" id="group-3-4"  value="1" /><label for="group-3-4"></label>
                    </form>
                </div>
            </header>
    </div>
        <div  class="spacerProduct"></div>
        <div style="font-size:18px">
            <section id="second">
                <p>
                    Barcode:
                    <span id="barcode">{{mesaj.barcode}}</span>
                </p>
            </section>
        </div>
        <div style="">
            <div id="third">
                <button id="buton_ingrediente" onclick = "$('.ingredient').fadeToggle();" >Ingredients</button>
				<!--
                <br>
                <div class="ingredient" id="div1" >
                    <img src="img/like_image.png" alt="like" >
                    <img src="img/unlike_image.png" alt="like" >
                    <p>
                        Glutamat de sodiu(E541)
                    </p>

                </div>
                <div class="ingredient" >
                    <img src="img/like_image.png" alt="like" >
                    <img src="img/unlike_image.png" alt="like" >
                    <p >
                        Glutamat de potasiu(E547)
                    </p>
                </div>

                <div class="ingredient" >
                    <img src="img/like_image.png" alt="like" >
                    <img src="img/unlike_image.png" alt="like" >
                    <p >
                        Praf de ceapa(E57)
                    </p>
                </div>
                    -->

              <br>
                <div class="ingredient" id="div1" ng-repeat="ingredient in ingrediente">
                     <img src="img/like_image.png" alt="like" id="{{ingredient.name}}" ng-click="likeImage('{{ingredient.name}}','like');" >
                    <img src="img/unlike_image.png" alt="like" id="{{ingredient.name}}" ng-click="likeImage({{'ingredient.name'}},'dislike');"  >
                    <p id="numeIngredient">
                        {{ingredient.name}}
                    </p>



                </div>


                <button id="buton_pareri" onclick = "$('.parere').fadeToggle();">Consumer Opinion</button>
                <br>

                <div class="parere" id="div1" >
                    <textarea id="title" rows="1" col="50" placeholder="Titlu" ng-model="titlu"></textarea>
                    <textarea id="comment"  rows="4" col="50" placeholder="Comentariu" ng-model="iol"></textarea>
                    <div class="acidjs-rating-stars">
                            <form id="my_form">
                                <input type="radio" name="comm" id="group-3-0" value="5"/><label ng-click='setRating(5)'></label>
                                <input type="radio" name="comm" id="group-3-1" value="4"/><label ng-click='setRating(4)'></label>
                                <input type="radio" name="comm" id="group-3-2" value="3"/><label ng-click='setRating(3)'></label>
                                <input type="radio" name="comm" id="group-3-3" value="2"/><label ng-click='setRating(2)'></label>
                                <input type="radio" name="comm" id="group-3-4" value="1" checked /><label ng-click='setRating(1)'></label>
                            </form>
                    </div>
                    <button id="post_comment" ng-click="postareComentariu()"> Post </button>
                    <div id='comentariuNou'> </div>
					<div class="opinie_utilizator" ng-repeat="comentariu in comentarii">
                        <hr>
                        
                        <h5>
                            #{{comentariu.titlu}}
                        </h5>
                        <article>
                            {{comentariu.content}}
                        </article>
                        <br>
                        <p class="typo name-date"><span>{{comentariu.data}}</span>|<span>{{comentariu.prenume}} {{comentariu.nume}}</span></p>
                        <div class="acidjs-rating-stars acidjs-rating-disabled">
                            <form>
                                <input disabled="disabled" ng-checked="{{comentariu.valoare5}}" type="radio" name="group-3" id="group-3-0" value="5"/><label for="group-3-0"></label>
                                <input disabled="disabled" ng-checked="{{comentariu.valoare4}}"  type="radio" name="group-3" id="group-3-1" value="4"/><label for="group-3-1"></label>
                                <input disabled="disabled" ng-checked="{{comentariu.valoare3}}"  type="radio" name="group-3" id="group-3-2" value="3"/><label for="group-3-2"></label>
                                <input disabled="disabled" ng-checked="{{comentariu.valoare2}}"  type="radio" name="group-3" id="group-3-3" value="2"/><label for="group-3-3"></label>
                                <input disabled="disabled" ng-checked="{{comentariu.valoare1}}"   type="radio" name="group-3" id="group-3-4" value="1"/><label for="group-3-4"></label>
                            </form>
                        </div>

                        <hr ng-init="setRating()">
                    </div>
				</div>
				<button id="buton_campanie" onclick = "$('.campanie').fadeToggle();">Product Campaign</button>

				<button id="button_produse_similare" onclick="$('.produse_similare').fadeToggle();"> Similar Products</button>
                <div class="produse_similare" >

                    <p> Heinz Ketchup </p>
                    <p> La minut </p>

                </div>



            </div>
        </div>
</div>